/*
colors used:
primary green: #8bbabb
light green: #c7f0db
primary purple: #464159
light purple: #6c7b95
purple background: #e1e4ea
green background: #dfecec
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

/* Typography */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.15em;
  font-weight: 500;
  color: #6b00b3;
  margin: 0;
}

/* Prototype */
#mockup {
  text-align: center;
  padding-top: 30px;
  height: 680px;
  overflow: hidden;
}

iframe {
  border: 0;
  transform: scale(0.65);
  transform-origin: left top;
}

/* Image */
img {
  max-width: 100%;
}

#connect svg {
  width: 55px;
  height: 55px;
}

#work svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Link */
a {
  color: #464159;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:focus {
  color: #6c7b95;
}

/* Buttons */
[class*="button"] {
  display: inline-block;
  background-color: #8bbabb;
  color: #000;
  padding: 12px 18px;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.3s;
}

#work .button,
#story .button,
#contact .button {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  color: #000;
}

#contact .button {
  padding: 10px 20px;
}

#story .button:hover,
#story .button:focus,
#work .button:hover,
#work .button:focus,
#contact .button:hover,
#contact .button:focus {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6);
  opacity: 0.75;
  font-weight: 600;
}

#button-top {
  display: inline-block;
  text-align: center;
  background-color: #c7f0db;
  color: #464159;
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 0 4px 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}

#button-top:hover {
  cursor: pointer;
}

.button.contact {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border: 3px solid #8bbabb;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #8bbabb;
}

/* Process buttons */
#myprocess [class*="button"] {
  color: #000;
  font-size: 1.15em;
  width: 38px;
  height: 38px;
  padding: 4px;
  margin: 0 6px;
  border-radius: 50%;
}

.button1 {
  background-color: rgba(107, 0, 179, 0.2);
}

.button2 {
  background-color: rgba(107, 0, 179, 0.3);
}

.button3 {
  background-color: rgba(107, 0, 179, 0.4);
}

.button4 {
  background-color: rgba(107, 0, 179, 0.5);
}

.button5 {
  background-color: rgba(107, 0, 179, 0.6);
}

.button6 {
  background-color: rgba(107, 0, 179, 0.7);
}

/* Layout styling */
header {
  background-color: #c7f0db;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(100, 100, 100, 0.5);
}

.logo {
  display: block;
  max-width: 160px;
  font-size: 1.25em;
  font-family: 'Sniglet', cursive;
  color: #464159;
  padding-top: 3px;
}

ul {
  padding-left: 20px;
}

#email,
#connect,
#resume,
#processlink,
#hero-text {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#resume {
  padding: 20px 0;
}

#skillstools {
  padding-bottom: 40px;
}

main {
  padding-top: 50px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.row {
  margin: 30px 0;
}

#work .row {
  padding-bottom: 30px;
  border-bottom: 1px solid #464159;
}

#work .row:last-child {
  border-bottom: none;
}

#work p {
  margin: 20px 0 25px;
}

#connect {
  padding-bottom: 20px;
}

#aboutme img {
  border-radius: 50%;
  padding: 0 15px;
}

/* Background colors & styling */
#background {
  display: inline-block;
  width: 100%;
  background-color: #e1e4ea;
  padding: 10px 0 20px;
  margin-top: 35px;
}

/* Title styling */
#home h2 {
  padding: 15px 0;
}

#hero h1 {
  font-size: 2.5em;
  padding-bottom: 5px;
}

#contact h3 {
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid #464159;
}

#contact h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

#skillstools h2 {
  padding: 30px 0 15px;
}

#hero p {
  text-align: left;
}

/* Nav bar */
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #464159;
  position: relative;
}

nav > ul > li > a:hover {
  color: #464159;
}

/* Project page */
.page--project h2,
.page--project h3 {
  padding-top: 60px;
  margin-top: 0;
}

.page--project h4 {
  padding-top: 50px;
}

#conclusion {
  margin-bottom: 40px;
}

.page--project p {
  padding-top: 10px;
}

#testing ul {
  padding: 20px 0 10px 15px;
}

#beautyexpert img {
  padding: 35px 0 25px;
}

#lingo img,
#portfolio img {
  padding: 25px 0;
}

#refine img {
  padding-bottom: 35px;
}

#prototype img {
  padding: 15px 0 10px;
}

#beautyexpert li {
  padding: 10px 0;
}

#project-picture img,
#portfolio-project-picture img,
#hero img {
  padding: 0;
}

#project-picture,
#portfolio-project-picture,
#hero {
  position: relative;
  text-align: center;
}

#project-picture h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio-project-picture h1 {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-10%, -50%);
}

#hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio-illustration img {
  width: 100%;
  padding: 15px 0 0;
}

/* Contact */
footer {
  background-color: #eff5f6;
  padding: 5px;
  clear: both;
}

#connect > ul {
  list-style-type: none;
  padding: 0;
}

#connect > ul > li {
  display: inline-block;
}

#connect > ul > li > a {
  padding: 0 15px;
}

#contact p {
  padding: 0 0 30px;
}

/* Process */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 10px;
}

#myprocess {
  max-width: 1200px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

#process p {
  font-size: 0.5em;
  padding-top: 2px;
  text-align: center;
}

.item {
  text-align: center;
}

/* Hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 25px 0;
  }

  .logo {
    display: inline-block;
    max-width: 250px;
    padding-top: 0;
    font-size: 1.35em;
  }

  .navtoggle {
    padding: 0 15px;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navigation {
    margin: 0;
  }

  nav > ul > li {
    display: inline-block;
    padding-left: 10px;
  }

  nav > ul > li > a {
    padding: 4px 15px;
    font-size: 1.15em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 80px;
  }

  .col-md-6 {
    width: 50%;
  }

  #work .col-lg-5 {
    padding-top: 5px;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row h3 {
    margin: 0;
  }

  #contact,
  .container {
    clear: both;
  }

  #contact p {
    text-align: center;
  }

  #contact h2 {
    padding-top: 60px;
  }

  #button-top {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
  }

  /* Home page */
  #hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero h1 {
    padding: 0 20px 20px;
  }

  #hero p {
    padding: 0 20px;
  }

  /* About page */
  #background {
    padding: 25px 15px 30px;
  }

  #about h1 {
    margin-top: 40px;
  }

  #aboutme img {
    padding: 20px 120px;
  }

  #skillstools [class*="col-"] {
    padding-bottom: 50px;
  }

  #skillstools h3 {
    margin-top: 0;
  }

  /* Project page */
  #beautyexpert .container,
  #lingo .container,
  #portfolio .container {
    padding: 0 30px 30px;
  }

  #portfolio-project-picture h1 {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-40%, -50%);
  }

  #beautyexpert img {
    padding: 50px 0;
  }

  #prototype img {
    padding: 20px 0 25px;
  }

  #project-picture img {
    padding: 0;
  }

  #prototype-test-repeat img {
    padding: 40px 0 30px;
  }

  #portfolio-illustration img {
    padding: 10px 0 25px;
  }

  #solution img {
    padding: 45px 0;
  }

  #project-picture h1,
  #portfolio-project-picture h1 {
    font-size: 3.25em;
  }

  #beautyexpert h3,
  #lingo h3,
  #portfolio h3 {
    font-size: 1.75em;
  }

  #myprocess {
    padding: 0 20px;
  }

  .flex-container {
    padding: 30px 0;
  }

  #myprocess [class*="button"] {
    font-size: 2.5em;
    width: 85px;
    height: 85px;
    padding: 10px;
    margin: 0 10px;
  }

  #process p {
    font-size: 0.95em;
  }

  #mockup {
    padding-top: 60px;
    height: 100%;
  }

  iframe {
    transform: scale(1);
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  nav > ul > li {
    padding-left: 30px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-6,
  .col-lg-7,
  .col-lg-5 {
    padding: 10px 20px;
  }

  /* Home page */
  #hero h1 {
    padding: 30px 80px;
    font-size: 3em;
  }

  #work .col-lg-5 {
    padding-top: 10px;
  }

  #work p {
    padding: 15px 0;
  }

  /* About page */
  #profile {
    padding-top: 55px;
  }

  #background {
    padding: 40px 15px;
    margin-top: 40px;
  }

  #aboutme {
    text-align: center;
  }

  #aboutme img {
    max-width: 60%;
  }

  #story,
  #skillstools {
    padding: 0 100px;
  }

  #skillstools h2 {
    padding: 50px 0 20px;
  }

  #story-text {
    padding: 5px 0 15px;
  }

  /* Project page */
  #beautyexpert .container,
  #lingo .container,
  #portfolio .container {
    padding: 0 180px 40px;
  }

  #portfolio-project-picture h1,
  #hero-text {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #beautyexpert h3 {
    padding-top: 85px;
  }

  #myprocess {
    padding: 0 25px;
  }

  #beautyexpert img {
    padding: 70px 0 30px;
  }

  #prototype img {
    padding-top: 40px;
  }

  #refine img {
    padding-bottom: 75px;
  }

  #lingo img {
    padding: 40px 0 60px;
  }

  #prototype-test-repeat img {
    padding: 50px 0;
  }

  #solution img {
    padding: 55px 0;
  }

  #portfolio-illustration img {
    padding: 40px 0 50px;
  }

  #project-picture h1,
  #portfolio-project-picture h1 {
    font-size: 4em;
  }

  #beautyexpert h2,
  #lingo h2,
  #beautyexpert h3,
  #lingo h3 {
    padding-bottom: 15px;
  }

  #intro {
    margin-bottom: 30px;
  }

  #conclusion {
    margin-bottom: 55px;
  }

  #project-picture img,
  #portfolio-project-picture img {
    width: 100%;
    padding: 0 0 30px;
  }

  #myprocess [class*="button"] {
    font-size: 3em;
    width: 120px;
    height: 120px;
    padding: 14px;
    margin: 0 10px;
  }

  #process p {
    font-size: 1.05em;
    font-weight: 500;
  }

  .flex-container {
    padding: 50px 0;
  }

  /* Contact */
  #contact h3 {
    padding-top: 50px;
    margin-top: 50px;
  }

  #connect {
    padding-bottom: 30px;
  }

  #button-top {
    bottom: 40px;
    right: 40px;
  }
}

/* Button hover */
@media (hover: hover) {
  #myprocess [class*="button"]:hover,
  #button-top:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    opacity: 0.75;
  }
}

/* Animation-navigation */
@media (hover: hover) {
  nav > ul > li > a::before {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: #fff;
    opacity: 0.3;
    transition: all 0.3s;
  }

  nav > ul > li > a:hover::before {
    width: 100%;
  }
}
