/*
colors used:
primary green: #8bbabb
light green: #c7f0db
primary purple: #464159
light purple: #6c7b95
purple background: #e1e4ea
green background: #dfecec
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

html,
body {
  height: 100%;
}

/* Typography */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.15em;
  font-weight: 500;
  color: #6b00b3;
  margin: 0;
}

/* Prototype */
#mockup {
  text-align: center;
  padding-top: 30px;
  height: 680px;
  overflow: hidden;
}

iframe {
  border: 0;
  transform: scale(0.65);
  transform-origin: left top;
}

/* Image */
img {
  max-width: 100%;
}

#connect svg {
  width: 55px;
  height: 55px;
}

#work svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Link */
a {
  color: #464159;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:focus {
  color: #6c7b95;
}

/* Buttons */
[class*="button"] {
  display: inline-block;
  background-color: #8bbabb;
  color: #000;
  padding: 12px 18px;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s;
}

#work .button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#contact .button,
#story .button {
  padding: 12px 24px;
  font-size: 1.05em;
  background-color: inherit;
  border: 3px solid #6c7b95;
}

#work .button:hover,
#work .button:focus {
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.6);
  font-weight: 600;
  color: #000;
  background-color: #8fbcbd;
}

#contact .button:hover,
#contact .button:focus,
#story .button:hover,
#story .button:focus {
  color: #c7f0db;
  background-color: #6c7b95;
}

.cc-btn {
  border-radius: 5px;
}

a.cc-link {
  text-decoration: none;
}

#button-top {
  display: inline-block;
  text-align: center;
  background-color: #c7f0db;
  color: #464159;
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 0 4px 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}

#button-top:hover {
  cursor: pointer;
}

/* Process buttons */
#myprocess [class*="button"] {
  color: #000;
  font-size: 1.15em;
  width: 38px;
  height: 38px;
  padding: 4px;
  margin: 0 6px;
  border-radius: 50%;
}

.button1 {
  background-color: rgba(107, 0, 179, 0.2);
}

.button2 {
  background-color: rgba(107, 0, 179, 0.3);
}

.button3 {
  background-color: rgba(107, 0, 179, 0.4);
}

.button4 {
  background-color: rgba(107, 0, 179, 0.5);
}

.button5 {
  background-color: rgba(107, 0, 179, 0.6);
}

.button6 {
  background-color: rgba(107, 0, 179, 0.7);
}

/* Layout styling */
header {
  background-color: #c7f0db;
  padding: 9px 0 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(100, 100, 100, 0.5);
}

.logo {
  display: block;
  max-width: 160px;
  font-size: 1.15em;
  padding-top: 4px;
}

ul {
  padding-left: 20px;
}

#email,
#resume,
#processlink {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work {
  padding-top: 50px;
}

#resume {
  padding: 20px 0;
}

#skillstools {
  padding-bottom: 40px;
}

main {
  padding-top: 50px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.row {
  margin: 30px 0;
}

#work .row {
  padding-bottom: 30px;
}

#work p {
  margin: 20px 0 25px;
}

#aboutme img {
  border-radius: 50%;
  padding: 0 30px;
}

/* Background colors & styling */
#background {
  display: inline-block;
  width: 100%;
  background-color: #cfe2e2;
  padding: 10px 0 20px;
  margin-top: 35px;
}

/* Title styling */
#home h2 {
  padding: 5px 0;
}

#hero {
  height: 100vh;
  padding-top: 100px;
  text-align: left;
  color: #d7f4e5;
  background-color: #6c7b95;
  margin: 0;
}

.h {
  font-size: 3em;
  font-weight: 600;
  padding: 10px 15px;
}

.h:first-of-type {
  line-height: 1.3;
}

.h:last-of-type {
  font-size: 1.85em;
  font-weight: 300;
  line-height: 1.38;
}

#skillstools h2 {
  padding: 30px 0 15px;
}

#vrm h4 {
  color: #000;
  line-height: 1.6;
  padding: 30px 0;
}

/* Nav bar */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

nav>ul>li>a:hover {
  color: #464159;
}

/* Project page */
.page--project h2,
.page--project h3 {
  padding-top: 60px;
  margin-top: 0;
}

.page--project h4 {
  padding-top: 50px;
}

#conclusion {
  margin-bottom: 40px;
}

.page--project p {
  padding-top: 10px;
}

#testing ul {
  padding: 20px 0 10px 15px;
}

#beautyexpert img {
  padding: 35px 0 25px;
}

#lingo img,
#portfolio img {
  padding: 25px 0;
}

#refine img {
  padding-bottom: 35px;
}

#prototype img {
  padding: 15px 0 10px;
}

#research li {
  padding: 10px 0;
}

#prototype ul {
  padding-left: 60px;
}

#prototype li {
  padding: 5px 0;
}

#project-picture img,
#portfolio-project-picture img {
  padding: 0;
}

#project-picture,
#portfolio-project-picture {
  position: relative;
  text-align: center;
}

#project-picture h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio-project-picture h1 {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-10%, -50%);
}

#portfolio-illustration img {
  width: 100%;
  padding: 15px 0 0;
}

#present img {
  padding: 15px 0;
}

#animation {
  text-align: center;
  padding-bottom: 15px;
}

/* Contact */
footer {
  background-color: #cfe2e2;
  height: 100vh;
  position: relative;
  clear: both;
}

#contact h2 {
  padding-top: 90px;
  padding-bottom: 20px;
  margin: 0;
}

#connect {
  background-image: linear-gradient(to right, #8bbabb, #6c7b95);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#email {
  padding-bottom: 80px;
}

#connect>ul {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 15px;
}

#connect>ul>li {
  display: inline-block;
}

#connect>ul>li>a {
  padding: 0 8px;
  opacity: 0.75;
}

#contact p {
  padding: 0 0 20px;
  text-align: center;
}

#copyright p {
  margin: 0 0 10px;
}

/* Process */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 10px;
}

#myprocess {
  max-width: 1200px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

#process p {
  font-size: 0.5em;
  padding-top: 2px;
  text-align: center;
}

.item {
  text-align: center;
}

/* Hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0;
  }

  .logo {
    display: inline-block;
    max-width: 250px;
    padding-top: 0;
    font-size: 1.25em;
  }

  .navtoggle {
    padding: 0 15px;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 3px;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navigation {
    margin: 0;
  }

  nav>ul>li {
    display: inline-block;
    padding-left: 10px;
  }

  nav>ul>li>a {
    padding: 4px 15px;
    font-size: 1.1em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navbar-fixed {
    background-color: transparent;
    color: #c7f0db;
    box-shadow: none;
  }

  .navbar-fixed.scrolled {
    background-color: #c7f0db;
    box-shadow: 0 3px 6px 0 rgba(100, 100, 100, 0.5);
    transition: background-color 200ms linear;
  }

  .navbar-fixed a {
    color: #c7f0db;
  }

  .navbar-fixed.scrolled a {
    color: #464159;
  }

  .navbar-fixed a:hover {
    color: #464159;
  }

  .navbar-fixed.scrolled a:hover {
    color: #6c7b95;
  }

  .navbar-fixed.scrolled nav>ul>li>a:hover {
    color: #464159;
  }

  main {
    padding-top: 70px;
  }

  #home main {
    padding-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  #work .col-lg-5 {
    padding-top: 5px;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row h3 {
    margin: 0;
  }

  #contact,
  .container {
    clear: both;
  }

  footer {
    margin-top: 50px;
    height: 480px;
  }

  #connect>ul {
    margin: 30px 0 18px;
  }

  #contact h2 {
    padding-top: 70px;
  }

  #copyright p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 25px;
  }

  #button-top {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
  }

  /* Home page */

  #hero {
    padding-top: 340px;
    text-align: center;
  }

  .h {
    padding: 10px 0;
  }

  .h:first-of-type {
    font-size: 3.75em;
    animation: showup 10s;
  }

  .h:last-of-type {
    font-size: 2.95em;
    opacity: 0;
    animation: showup 10s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:1;}
  }

  #work {
    padding-top: 70px;
  }

  #work h2 {
    padding: 20px;
  }

  /* About page */
  #background {
    padding: 25px 15px 30px;
  }

  #about h1 {
    margin-top: 50px;
  }

  #aboutme img {
    padding: 20px 120px;
  }

  #skillstools [class*="col-"] {
    padding-bottom: 50px;
  }

  #skillstools h3 {
    margin-top: 0;
  }

  /* Project page */
  #beautyexpert .container,
  #lingo .container,
  #portfolio .container {
    padding: 0 30px 30px;
  }

  #portfolio-project-picture h1 {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-40%, -50%);
  }

  #beautyexpert img {
    padding: 50px 0;
  }

  #prototype img {
    padding: 15px 0;
  }

  #project-picture img {
    padding: 0;
  }

  #portfolio-illustration img {
    padding: 10px 0 25px;
  }

  #solution img {
    padding: 45px 0;
  }

  #present img {
    padding: 30px 0 15px;
  }

  #project-picture h1,
  #portfolio-project-picture h1 {
    font-size: 3.25em;
  }

  #beautyexpert h3,
  #lingo h3,
  #portfolio h3 {
    font-size: 1.75em;
  }

  #myprocess {
    padding: 0 20px;
  }

  .flex-container {
    padding: 30px 0;
  }

  #myprocess [class*="button"] {
    font-size: 2.5em;
    width: 85px;
    height: 85px;
    padding: 10px;
    margin: 0 10px;
  }

  #process p {
    font-size: 0.95em;
  }

  #mockup {
    padding-top: 60px;
    height: 100%;
  }

  iframe {
    transform: scale(1);
  }

  #vrm h4 {
    padding: 50px 0;
  }

  #animation {
    padding-bottom: 0;
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  nav>ul>li {
    padding-left: 30px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-6,
  .col-lg-7,
  .col-lg-5 {
    padding: 10px 20px;
  }

  /* Home page */

  #work .col-lg-5 {
    padding: 10px 35px 10px 25px;
  }

  #work .col-lg-7 {
    padding: 10px 35px;
  }

  #work p {
    padding: 15px 0;
  }

  #work h2 {
    padding-bottom: 35px;
    padding-top: 25px;
    font-size: 2.75em;
  }

  #hero {
    padding-top: 300px;
  }

  .h {
    line-height: 1.6;
  }

  .h:first-of-type {
    font-size: 3.8em;
  }

  .h:last-of-type {
    font-size: 3em;
  }

  /* About page */
  #profile {
    padding-top: 55px;
  }

  #background {
    padding: 40px 15px 50px;
    margin-top: 40px;
  }

  #aboutme {
    text-align: center;
  }

  #aboutme img {
    max-width: 60%;
  }

  #story,
  #skillstools {
    padding: 0 100px;
  }

  #skillstools h2 {
    padding: 50px 0 20px;
  }

  #skillstools [class*="col-"] {
    padding-bottom: 70px;
  }

  #story-text {
    padding: 5px 0 15px;
  }

  /* Project page */
  #beautyexpert .container,
  #lingo .container,
  #portfolio .container {
    padding: 0 180px 40px;
  }

  #portfolio-project-picture h1 {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #beautyexpert h3 {
    padding-top: 85px;
  }

  #myprocess {
    padding: 0 25px;
  }

  #beautyexpert img {
    padding: 70px 0 30px;
  }

  #prototype img {
    padding: 35px 0;
  }

  #refine img {
    padding-bottom: 75px;
  }

  #lingo img {
    padding: 40px 0 60px;
  }

  #solution img {
    padding: 55px 0;
  }

  #portfolio-illustration img {
    padding: 40px 0 50px;
  }

  #project-picture h1,
  #portfolio-project-picture h1 {
    font-size: 4em;
  }

  #beautyexpert h2,
  #lingo h2,
  #beautyexpert h3,
  #lingo h3 {
    padding-bottom: 15px;
  }

  #intro {
    margin-bottom: 30px;
  }

  #conclusion {
    margin-bottom: 55px;
  }

  #present img {
    padding: 30px 0 20px;
  }

  #project-picture img,
  #portfolio-project-picture img {
    width: 100%;
    padding: 0 0 30px;
  }

  #myprocess [class*="button"] {
    font-size: 3em;
    width: 120px;
    height: 120px;
    padding: 14px;
    margin: 0 10px;
  }

  #process p {
    font-size: 1.05em;
    font-weight: 500;
  }

  .flex-container {
    padding: 50px 0;
  }

  #vrm {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  #animation {
    padding-bottom: 50px;
  }

  #vrm h4 {
    padding-top: 65px;
    padding-bottom: 55px;
  }
}

/* XL devices (1440px or larger) */

@media only screen and (min-width: 1440px) {
  /* Animation-headline */
  #hero {
    padding-top: 310px;
  }

  #hero-text {
    max-width: 1200px;
    margin: auto;
  }

  .h {
    display: inline-block;
    overflow: hidden;
  }

  .h:first-of-type {
    animation: showup 10s;
    animation-fill-mode: forwards;
    padding: 0;
    font-size: 2.7em;
  }

  .h:last-of-type {
    animation: reveal 8s;
    animation-fill-mode: forwards;
    padding: 0;
    font-size: 2.7em;
  }

  .h:last-of-type span {
    margin-left: -700px;
    animation: slidein 8s;
    animation-fill-mode: forwards;
  }

  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:1;}
  }

  @keyframes slidein {
      0% { margin-left:-700px; }
      20% { margin-left:-700px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }

  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:656px;}
      100% {opacity:1;width:656px;}
  }

  /* contact */
  footer {
    height: 100vh;
  }

  #contact h2 {
    padding-top: 180px;
    font-size: 2.5em;
  }

  #contact p {
    padding: 10px 0 30px;
  }

  #copyright p {
    margin-left: 60px;
  }

  #connect>ul {
    margin: 34px 0 24px;
  }

  #button-top {
    bottom: 160px;
    right: 40px;
  }
}

/* Button hover */
@media (hover: hover) {

  #myprocess [class*="button"]:hover,
  #button-top:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
  }
}

/* Animation-navigation */
@media (hover: hover) {
  nav>ul>li>a::before {
    position: absolute;
    z-index: -1;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: #fff;
    opacity: 0.4;
    transition: all 0.3s;
  }

  nav>ul>li>a:hover::before {
    width: 100%;
  }

  .navbar-fixed nav>ul>li>a::before {
    visibility: hidden;
  }

  .navbar-fixed.scrolled nav>ul>li>a::before {
    visibility: visible;
  }
}
